* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: capitalize;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
  padding-top: 240px;
  margin-bottom: 30px;
  color: #fff;
}

h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
  margin-top: 150px;
  text-align: center;
  color: #201e20;
  margin-bottom: 20px;
}

h3 {
  font-size: 30px;
  text-align: center;
  color: #fff;
  padding-top: 40px;
  margin-bottom: 20px;
  font-weight: 700;
}

h4 {
  font-size: 25px;
  margin-bottom: 15px;
  margin-top: 15px;
}

p {
  font-size: 16px;
  text-align: center;
  color: #0000006d;
  margin-bottom: 20px;
}

.btn {
  width: 200px;
  height: 40px;
  outline: none;
  text-transform: uppercase;
  background-color: #e0a96d;
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: "Roboto Condensed", sans-serif;
  color: #201e20;
  font-weight: 700;
  border: none;
  border-radius: 5px;
}

/* Header Content Start */

header {
  height: 100vh;
  text-align: center;
  background-image: url("../img/fireService.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner__content {
  height: 100vh;
  align-self: center;
  background-color: #000000d9;
}

.header__description {
  text-align: center;
  margin-bottom: 50px;
  color: rgba(255, 255, 255, 0.653);
}

.header__btn {
  border: none;
}

/* Header Content End */

/* Donation Section Start */

.donation__amount {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.donation__amount span {
  padding: 30px 30px;
  background-color: #ddc3a525;
  margin-right: 40px;
  border-radius: 5px;
  font-size: 20px;
  color: #201e20cd;
  font-weight: 700;
}

#thousand {
  border: 2px solid #201e20;
  background-color: #201e2010;
}

#donation__section input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
  border-color: #0000002d;
  width: 500px;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.donate__bigAmount {
  text-align: center;
}

.donation__btn {
  margin-top: 25px;
}
/* Donation Section End */

/* donation planning Section Start*/

.planning__description {
  margin-bottom: 50px;
}
.planning__process {
  display: flex;
  justify-content: space-around;
}

.process__item {
  width: 25%;
  padding: 50px 25px;
  border-radius: 10px;
  background-color: #ddc3a525;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.process__item img {
  width: 50px;
  height: 50px;
}

.process__item p {
  margin-bottom: 0;
  text-align: justify;
  color: #0000008b;
}

/* donation planning Section End*/

/* Our Experience Section Start */

#our__experience {
  margin: 150px 0;
  padding: 50px;
  background-color: #e0a96d;
}

.experience {
  display: flex;
  justify-content: space-around;
}

.experience__item h4 {
  font-size: 30px;
  font-weight: 700;
  color: #201e20;
  text-align: left;
}

.experience__item p {
  text-align: left;
  color: #201e20a5;
  font-size: 16px;
  font-weight: 500;
}

/* Our Experience Section End */

/* Sitakunda Tragedy Start */

#sitakunda {
  display: flex;
  justify-content: space-around;
}

#sitakunda img {
  width: 40%;
  border-radius: 10px;
}

.sitakunda__information {
  width: 40%;
  text-align: center;
}

.sitakunda__information h2 {
  margin-top: 20px;
  color: #201e20;
}

.sitakunda__information p {
  text-align: justify;
}

/* Sitakunda Tragedy End */

/* Update Section Start */

#update__section {
  margin-bottom: 175px;
}

.update__description {
  margin-bottom: 50px;
}

.get__update {
  width: 900px;
  text-align: center;
  background-color: #ddc3a53a;
  position: relative;
  margin: 0 auto;
  padding: 60px;
  border-radius: 10px;
}

.get__update input {
  width: 300px;
  height: 40px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  font-size: 16px;
  text-transform: capitalize;
  background-color: #6c6c6c29;
  margin-right: 0;
  padding-right: 0;
  position: relative;
  outline: none;
}

.update__btn {
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  left: -7px;
  position: relative;
  outline: none;
}

/* Update Section End */

/* Footer Section Start */

footer {
  height: 30vh;
  background-color: #201e20;
}

.footer__description {
  margin-bottom: 5px;
}

.footer__description,
.footer__copyright {
  color: rgba(255, 255, 255, 0.378);
}

.footer__copyright {
  margin-bottom: 0;
}

/* Footer Section End */
